@use "../../assets/styles/var" as var;

// .info {
//   width: 100vw;
//   max-width: 1920px;
// }

.info_banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var.$white;
  height: 240px;
}

.info_paragraph {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: var.$blue;
}

.info_content {
  background-color: var.$dust;
  padding: 0 150px 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  column-count: 3;
}

.list_item {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
  & > span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #6f8db4;
    color: var.$white;
    font-size: 24px;
    font-family: var.$font-inter;
  }
  & > p {
    font-family: var.$font-inter;
    width: 46%;
  }
}

@media (max-width: 1919px) {
  .info_content {
    padding: 0 130px 70px;
  }

  .list_item {
    & > p {
      width: 60%;
    }
  }
}
