@use "../../assets/styles/var" as var;

.advantages {
  background-color: var.$dust;
}

.cards {
  padding: 0 252px 123px;
  display: grid;
  grid-template-columns: repeat(3, 350px);
  justify-content: center;
  grid-gap: 20px;
}
.card {
  width: 300px;
  padding: 27px 20px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  background-color: var.$white;
  font-family: var.$font-inter;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: var.$d-blue;
}
.icon2 {
  padding-right: 10px;
  width: 50px;
  height: auto;
}
@media (max-width: 1439px) {
  .cards {
    padding: 0 150px 100px;
    grid-template-columns: repeat(2, 350px);
  }
  .card {
    padding: 20px 10px;
  }
  .icon2 {
    padding-right: 5px;
    width: 45px;
    height: auto;
  }
  .icon {
    width: 45px;
    height: auto;
  }
}
