@use "../../assets/styles/var" as var;

.reviews {
  width: 100vw;
  max-width: 1920px;
  background-color: var.$white;
}

.container {
  padding: 0 186px 197px;
  display: flex;
  justify-content: center;
  gap: 65px;
}
.review {
  padding: 30px;
  background-color: var.$dust;
  width: 488px;
  border-radius: 15px;
}
.review_text {
  font-family: var.$font-inter;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var.$d-blue;
}
