@use "../../assets/styles/var" as var;

.header {
  position: fixed;
  z-index: 9999;
  width: 100vw;
  max-width: 1920px;
  background: linear-gradient(
    90deg,
    rgba(195, 215, 241, 1) 0%,
    rgba(226, 234, 242, 1) 50%,
    rgba(229, 235, 242, 1) 100%
  );
  padding: 20px 100px;
  font-family: var.$font-inter;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var.$blue;
}
.logo_text {
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 18px;
  font-style: italic;
}
.list {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.nav_item {
  padding-left: 70px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.nav_item_link {
  text-decoration: none;
  color: inherit;
  transition: all 0.6s;
  cursor: pointer;
  &:hover,
  &:active {
    color: var.$d-blue;
  }
}
.contact {
  display: flex;
  align-items: center;
  gap: 35px;
}
.contact_mobile {
  display: none;
}
.phone {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}
.phone_nobile {
  display: none;
}
.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 23px;
  background: var.$blue;
  border: none;
  border-radius: 50px;
  font-weight: 700;
  font-size: 12px;
  line-height: 200%;
  text-transform: uppercase;
  text-decoration: none;
  color: var.$white;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  &:hover {
    transition: 0.3 all;
    -webkit-transform: scale(1.06);
    -ms-transform: scale(1.06);
    transform: scale(1.06);
  }
}
.burger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
  &:hover {
    .bar {
      background-color: var.$blue;
    }
  }
}
.bar {
  width: 2rem;
  height: 0.25rem;
  background-color: var.$d-blue;
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}
.burger.open .bar:nth-child(1) {
  transform: rotate(45deg);
}
.burger.open .bar:nth-child(2) {
  opacity: 0;
  transform: translateX(20px);
}
.burger.open .bar:nth-child(3) {
  transform: rotate(-45deg);
}

/////////////////////adaptive/////////////////////////////
@media (max-width: 1919px) {
  .header {
    max-width: 1440px;
    padding: 10px 100px;
  }
  .logo_text {
    font-size: 16px;
  }
  .nav_item {
    padding-left: 45px;
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 1439px) {
  .header {
    max-width: 1100px;
    padding: 5px 40px;
  }
  .nav_item {
    padding-left: 30px;
    font-size: 12px;
    line-height: 16px;
  }
}

@media (max-width: 1099px) {
  .header {
    max-width: 768px;
    padding: 15px 40px;
  }
  .logo_text {
    font-size: 22px;
    line-height: 18px;
  }
  .contact {
    display: none;
  }
  .contact_mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .burger {
    display: flex;
  }
  .nav {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: hwb(0 100% 0% / 0.925);
    width: 768px;
    flex-direction: column;
    padding: 1rem 2rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 9;
  }
  .nav_open {
    display: flex;
    align-items: center;
  }
  .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }
  .nav_item {
    margin-top: 20px;
    font-size: 18px;
    line-height: 28px;
  }
  .phone {
    font-size: 20px;
    line-height: 30px;
  }
  .button {
    padding: 12px 44px;
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .header {
    max-width: 390px;
    padding: 15px 15px;
  }
  .logo_text {
    font-size: 20px;
  }
  .nav {
    width: 390px;
    flex-direction: column;
    padding: 30px 20px;
  }
  .list {
    grid-template-columns: 1fr;
    align-self: start;
  }
  .nav_item {
    margin-top: 20px;
    font-size: 16px;
    line-height: 22px;
  }
  .phone {
    display: none;
  }
  .phone_nobile {
    display: flex;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    font-family: var.$font-inter;
    color: var.$blue;
    transition: all 0.6s;
    &:hover,
    &:active {
      color: var.$d-blue;
    }
  }
  .button {
    padding: 10px 36px;
    font-size: 14px;
  }
}

@media (max-width: 389px) {
  .header {
    max-width: 350px;
    padding: 15px 10px;
  }
  .nav {
    width: 350px;
  }
}
