@use "../../assets/styles/var" as var;

.banner {
  background-color: var.$l-gray;
  color: var.$d-blue;
  font-family: var.$font-inter;
  font-weight: 700;
}
.banner_container {
  display: flex;
  justify-content: space-around;
  padding: 53px 200px;
}
.banner_card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner_number {
  font-size: 60px;
  line-height: 73px;
}
.banner_text {
  font-size: 16px;
  line-height: 19px;
}
.info {
  background-color: var.$dust;
  color: var.$d-blue;
}
.info_container {
  padding: 0 248px 250px;
}
.info_cards {
  display: grid;
  grid-template-columns: repeat(2, 430px);
  grid-gap: 60px;
  justify-content: center;
}
.info_card {
  background-color: var.$white;
  padding: 30px;
  font-family: var.$font-inter;
  font-style: normal;
}
.info_subtitle {
  color: var.$blue;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.info_text {
  padding-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.carousel {
  background-color: var.$dust;
  padding: 0 110px 188px;
}
.sliders {
  display: flex;
  gap: 40px;
}
.slide {
  cursor: pointer;
}
.slide_img {
  max-width: 600px;
  max-height: 352px;
}
.carousel_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.button {
  padding: 15px;
  background-color: var.$l-gray;
  border: none;
  cursor: pointer;
  & > img {
    opacity: 0.5;
  }
  &:hover img,
  &:active img {
    opacity: 0.8;
  }
  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
}

@media (max-width: 1919px) {
  .info_container {
    padding: 0 248px 200px;
  }
  .info_subtitle {
    font-size: 18px;
  }
  .info_text {
    font-size: 14px;
  }
  .carousel {
    padding: 0 70px 150px;
  }
  .slide_img {
    max-width: 380px;
    max-height: 260px;
  }
  .button {
    padding: 10px;
  }
}

@media (max-width: 1439px) {
  .banner_container {
    padding: 30px 100px;
  }
  .banner_number {
    font-size: 50px;
    line-height: 63px;
  }
  .banner_text {
    font-size: 14px;
  }
  .info_container {
    padding: 0 248px 100px;
  }
  .sliders {
    align-items: center;
  }
  .carousel {
    padding: 0 50px 100px;
  }
}

@media (max-width: 1099px) {
  .banner_container {
    padding: 30px 50px;
  }
  .banner_number {
    font-size: 40px;
    line-height: 50px;
  }
  .banner_text {
    font-size: 12px;
  }
  .info_container {
    padding: 0 50px 50px;
  }
  .info_cards {
    grid-template-columns: repeat(2, 300px);
    grid-gap: 50px;
  }
  .info_card {
    padding: 20px;
  }
  .info_text {
    font-size: 14px;
  }
  .carousel {
    padding: 0 0 50px;
  }
  .slide_img {
    max-width: 300px;
    max-height: 200px;
  }
}

@media (max-width: 767px) {
  .banner_container {
    padding: 10px 5px;
  }
  .banner_number {
    font-size: 26px;
    line-height: 32px;
  }
  .banner_text {
    font-size: 8px;
  }
  .info_container {
    padding: 0 35px 50px;
  }
  .info_cards {
    grid-template-columns: repeat(1, 300px);
  }
  .info_card {
    padding: 20px;
  }
  .info_subtitle {
    font-size: 16px;
  }
  .info_text {
    padding-top: 10px;
    font-size: 12px;
  }
  .button {
    padding: 5px;
    background-color: transparent;
    & > img {
      width: 10px;
    }
  }
}
