@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.otf") format("otf"),
    url("../fonts/Inter-Regular.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

$d-blue: #243f5e;
$white: #ffffff;
$gray: #708eb5;
$l-gray: #c4d3e5;
$blue: #3f88e7;
// $dust: #ebe8e6;
$dust: #eef5fd;
$font-inter: "Inter", Arial, Helvetica, sans-serif;
